@model BZRForumMedia.Server.Models.Propis;
@{
}
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Propisi</h1>
                            <ol class="breadcrumb">
                                <li><a asp-controller="Home" asp-action="Index">Početna</a></li>
                                <li class="active">Propisi</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 it_service_policy">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <h2 style="text-align: center;">@Model.Naslov</h2>
                            <p class="large">@Model.GlasiloIDatum</p>
                            <br>
                            <br>
                           @Html.Raw(@Model.TekstPropisa)
                    

                    <div class="full margin_bottom_30">
                        <div class="accordion border_circle">
                            <div class="bs-example">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-bar-chart" aria-hidden="true"></i> Atribut propisa <i class="fa fa-angle-down"></i></a> </p>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    Glasilo i datum: @Model.GlasiloIDatum <br>
                                                    Datum objavljivanja osnovnog teksta: @(Model.DatumObjavljivanjaOsnovnogTeksta.HasValue?@Model.DatumObjavljivanjaOsnovnogTeksta.Value.ToString("dd/MM/yyyy") : "Datum trenutno ne postoji")<br>
                                                    Datum objavljivanja Verzije: @(Model.DatumObjavljivanjeVerzije.HasValue?@Model.DatumObjavljivanjeVerzije.Value.ToString("dd/MM/yyyy") : "Datum trenutno ne postoji") <br>
                                                    Datum početka primene: @( Model.DatumPocetkaPrimene.HasValue?@Model.DatumPocetkaPrimene.Value.ToString("dd/MM/yyyy"): "Datum trenutno ne postoji")<br>
                                                    Datum prestanka važenja: @(Model.DatumPrestankaVazenjaPropisa.HasValue?@Model.DatumPrestankaVazenjaPropisa.Value.ToString("dd/MM/yyyy") : "Datum trenutno ne postoji") <br>
                                                    Datum prestanka važenja pravnog prethodnika: @(Model.DatumPrestankaVazenjaPravnogPrethodnika.HasValue? @Model.DatumPrestankaVazenjaPravnogPrethodnika.Value.ToString("dd/MM/yyyy") : "Datum trenutno ne postoji") <br>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
<!-- end section -->
