@model IEnumerable<BZRForumMedia.Server.Models.Podrubrika>

@{
    ViewData["Title"] = "ListaPodrubrika";
}
<div class="container">
    <h1>Lista podrubrika</h1>

    <p>
        <a asp-action="CreatePodrubrika">Kreiraj podrubriku</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "EditPodrubrika", new { id = item.Id }) |
                        <a asp-action="DeletePodrubrika" asp-controller="AdminPodrubrika" asp-route-id="@item.Id" onclick="return confirm('Da li ste sigurni da želite da izbrišete @item.Naziv')">Izbriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>